@import 'styles/variables';
@import 'styles/mixins';

.viewer-header {
  width: 100%;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-m 0;

  .separator {
    height: 32px;
  }

  .navbar {
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: $margin-xs;

    @include mobile-layout {
      font-size: 14px;
    }

    button {
      background: transparent;
      border: none;
      padding: $padding-s;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }

      @include mobile-layout {
        padding: $padding-s $padding-xs;
      }
    }
  }

  h2 {
    flex: 1.25;
    font-size: 16px;
    font-weight: 600;
  }
}
