$color-text-primary: #000000;
$color-primary: #f26726;
$color-main-bg: #f7f7f7;
$color-gray40: rgba(0, 0, 0, 0.4);
$color-gray65: rgba(0, 0, 0, 0.65);
$color-white: #fff;

$padding-xs: 8px;
$padding-s: 16px;
$padding-m: 24px;
$padding-l: 32px;
$padding-xl: 48px;

$margin-xs: 8px;
$margin-s: 16px;
$margin-m: 24px;
$margin-l: 32px;
$margin-xl: 48px;

$header-height: 64px;

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
