@import 'styles/variables';
@import 'styles/mixins';

.artboard-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: $margin-xl;
  row-gap: $margin-m;
  padding: $padding-m;

  @include mobile-layout {
    justify-content: center;
  }

  .artboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
    &:hover {
      p {
        color: $color-primary;
      }
      .image {
        border: 2px solid $color-primary;
        object-fit: cover;
      }
    }
    p {
      font-size: 14px;
      color: $color-gray65;
      transition: all 0.2s;
    }
    .image {
      width: 240px;
      height: 305px;
      object-fit: contain;
      margin-bottom: $margin-s;
      transition: all 0.2s;
    }
  }
}

.loader-container {
  width: 100%;
  height: calc(100vh - $header-height);
}
